BODY {

margin: 0 auto; 
width: 960px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;

}


header {
    background-color:#f596df;
    color:white;
    text-align:center;
    padding:5px; 
}

section {
    width:960px;
    float:left;
    padding:10px; 
}
footer {
    background-color:#5ff244;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}


input[type="text"] {
  display: block;
  margin: 0;
  width: 20%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}