<body>	
	<script	id="movie_tmpl"	type="text/x-jQuery-tmpl">	

 <li>	
Movie Id:	${Movie_Id},	Movie Name:	${movie_name}, Movie genre: ${movie_genre},Movie Description:	${movie_description}, Movie Author:	${movie_author}, Release date:	${release_date}	,




							{{if	Modules}}			
	 	Movie	modules:	{{each	Modules}}	
									<b>${$value}</b>		
							{{/each}}	
			 	{{else}}	
						 No	Movie	
			 {{/if}}		
</li>	
	</script>	
<div	id="movies">	
<ul	id="movie_list"> </ul>	
</div>	
</body>	